<svg id="foodcorp" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172.675 29.976">
  <defs>
    <style>
      .cls-1 {
        fill: #cf9f66;
      }

      .cls-2 {
        fill: #89643d;
      }

      .cls-3 {
        fill: #c45c00;
      }

      .cls-4 {
        fill: #c98019;
      }

      .cls-5 {
        fill: #eb9800;
      }

      .cls-6 {
        fill: #d68b00;
      }

      .cls-7 {
        fill: #ebba1d;
      }

      .cls-8 {
        fill: #ffca1f;
      }

      .cls-9 {
        fill: #ffd85e;
      }

      .cls-10 {
        fill: #ffe38a;
      }

      .cls-11 {
        fill: #d96600;
      }

      .cls-12 {
        fill: #ffd03b;
      }

      .cls-13 {
        fill: #ffe38c;
      }

      .cls-14 {
        fill: #fff4d1;
      }

      .cls-15 {
        fill: #fff0c2;
      }

      .cls-16, .cls-29 {
        fill: #fff276;
      }

      .cls-16 {
        opacity: 0.51;
      }

      .cls-16, .cls-22, .cls-29, .cls-41, .cls-42, .cls-43, .cls-44 {
        isolation: isolate;
      }

      .cls-17 {
        fill: #fff2ff;
      }

      .cls-18 {
        fill: #965030;
      }

      .cls-19 {
        fill: #ffb95c;
      }

      .cls-20 {
        fill: #ffe9cc;
      }

      .cls-21 {
        fill: url(#linear-gradient);
      }

      .cls-22 {
        fill: #ff9100;
        opacity: 0.47;
      }

      .cls-23 {
        fill: #70270f;
      }

      .cls-24 {
        fill: url(#linear-gradient-2);
      }

      .cls-25 {
        fill: url(#linear-gradient-3);
      }

      .cls-26 {
        fill: #fff0db;
      }

      .cls-27 {
        fill: #ffbc00;
      }

      .cls-28 {
        fill: #fff8f0;
      }

      .cls-29 {
        opacity: 0.24;
      }

      .cls-30 {
        fill: #fff8ed;
      }

      .cls-31 {
        fill: #fff;
      }

      .cls-32 {
        fill: #351207;
      }

      .cls-33 {
        fill: #4a190a;
      }

      .cls-34 {
        fill: #6b240e;
      }

      .cls-35 {
        fill: #009c08;
      }

      .cls-36 {
        fill: #00c40a;
      }

      .cls-37 {
        fill: #1cff28;
      }

      .cls-38 {
        fill: #696;
      }

      .cls-39 {
        fill: #7f4834;
      }

      .cls-40 {
        fill: #f16365;
      }

      .cls-41, .cls-42, .cls-43, .cls-44 {
        font-size: 22px;
        font-family: Monoton-Regular, Monoton;
      }

      .cls-41, .cls-43 {
        fill: #0188d8;
      }

      .cls-41, .cls-42 {
        letter-spacing: 0.05em;
      }

      .cls-42, .cls-44 {
        fill: none;
        stroke: #0188d8;
        stroke-miterlimit: 10;
        stroke-width: 0.2px;
      }

      .cls-43, .cls-44 {
        letter-spacing: 0.049em;
      }
    </style>
    <linearGradient id="linear-gradient" x1="179.277" y1="97.811" x2="182.466" y2="102.542" gradientTransform="translate(-67.979 -90.183)" gradientUnits="userSpaceOnUse">
      <stop offset="0.102" stop-color="#ffd59e"/>
      <stop offset="0.301" stop-color="#ffb76c"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="-332.393" y1="-35.955" x2="-329.205" y2="-31.224" gradientTransform="matrix(-0.503, -0.864, 0.864, -0.503, -21.195, -296.366)" xlink:href="#linear-gradient"/>
    <linearGradient id="linear-gradient-3" x1="274.567" y1="-102.788" x2="277.755" y2="-98.057" gradientTransform="translate(-152.905 -102.367) rotate(41.595)" xlink:href="#linear-gradient"/>
  </defs>
  <title>df</title>
  <circle class="cls-1" cx="119.013" cy="12.683" r="12.5"/>
  <circle class="cls-2" cx="119.037" cy="12.707" r="10.68"/>
  <circle class="cls-3" cx="117.805" cy="11.986" r="8.443"/>
  <path class="cls-4" d="M108.753,9.9s2.326-2.1,4.844-1.658,2.894,2.923,1.872,3.867c0,0-.333-.04-.51-.589s-.723-1.739-1.806-1.736-2.241.175-4.609,2.066A4.915,4.915,0,0,1,108.753,9.9Z" transform="translate(0 0.018)"/>
  <path class="cls-5" d="M117.558,7.458s3.314-2.178,5.467.158a11.646,11.646,0,0,0,1.541,2.172c.635.565,2.238,1.048,2.147,3s-1,2.6-1.513,2.649-3.4-.377-4.056.537-.344,3.134-1.174,4.17-4.712-.427-3.589-3.288-.794-4.464-1.152-5.229-1.3-2.682,1.266-3.58,1.993.982,1.315,1.206-1.976.374-1.726,1.74,1.907,1.982,1.792,3.973-.938,2.5-.546,3.291,1.728,1.527,2.014.66-.057-3.4,1.673-4.42,3.611.132,4.165-.414a1.938,1.938,0,0,0-.563-2.682l-.081-.05a8.44,8.44,0,0,1-2.432-2.858c-.548-.987-2.481-.968-4.156.038S116.038,8.375,117.558,7.458Z" transform="translate(0 0.018)"/>
  <path class="cls-6" d="M116.354,6.374a2.476,2.476,0,0,1,.1-3.2c1.416-1.561,5.9-.421,5.474,2.036s.108,2.377.776,2.819,1.834.349,2.725.89,1.639,1.661.423,3.21a3.956,3.956,0,0,1-5.064,1.118c-1.925-.938-3.316-1.666-4.274.871s-1.44,4.427-2.861,4.543-1.757-.394-1.193-1.029,1.187.018,1.742-.818.537-2.046,1.785-3.861,2.994-1.622,4.72-.673a2.748,2.748,0,0,0,3.789-.858h0c.014-.022.028-.044.041-.067.707-1.069.46-1.857-2.463-2.157a2.346,2.346,0,0,1-1.732-2.538c.327-1.945-.232-2.989-1.455-3.028s-2.218.959-1.657,2.758S116.354,6.374,116.354,6.374Z" transform="translate(0 0.018)"/>
  <path class="cls-7" d="M125.9,9.949a3.614,3.614,0,0,0-1.5-3.683c-2.027-1.293-3.853.814-4.79,2.74s-.12,3.667-1.286,4.483-3.212-.156-4.476.016-4.414,2.171-.411,5.635,8.732-.421,9.351-1.356.815-1.959,1.623-2.673-.736-.919-1.134-.462a10.388,10.388,0,0,0-1.416,2.283c-.441.959-2.8,2.133-4.5,2.161s-4.047-.852-4.365-2.84,2.562-1.331,3.2-1.056,4.42-.294,4.42-3.561,2.006-4.338,3.351-4.123.854,2.775.467,3.143a2.994,2.994,0,0,1-4.2.1l-.407,1.123s1.8,1.861,3.727,1.12A4.326,4.326,0,0,0,125.9,9.949Z" transform="translate(0 0.018)"/>
  <path class="cls-8" d="M114.454,12.55a3.5,3.5,0,0,1-.719-4.9c.056-.075.114-.148.176-.218,2.255-3.084,6.432-2.589,6.7-1.191s-.724,2.728.456,4.482,3.589,1.546,4.613,4.134-3.288,5.786-5.979,3.321-.449-4.115.274-4.5,1.017.313.62.913-2.11,1.883.311,3.233,4.844-1.551,3.389-3.054-1.812-.91-3.635-2.837-1.113-3.654-1.107-4.371a1.524,1.524,0,0,0-2.321-1.175c-1.473.647-4.83,3.326-1.679,6.023C115.553,12.413,115.647,12.979,114.454,12.55Z" transform="translate(0 0.018)"/>
  <path class="cls-9" d="M126.421,9.736a3.405,3.405,0,0,0-4.627,1.334c-.049.088-.094.179-.135.272-1.879,3.273,3.841,5.23,4.235,3.762s-.125-.9-.824-.786-3.2.19-2.765-2.5c.377-2.332,3.252-1.893,3.889-1.314a.382.382,0,0,0,.54,0,.411.411,0,0,0,.062-.082C126.877,10.254,126.827,10.026,126.421,9.736Z" transform="translate(0 0.018)"/>
  <path class="cls-10" d="M119.19,16.181s1.888-1.057,1.615-2.714-.548-1.3-.5-.982a2.744,2.744,0,0,1-.167,2.268,3.813,3.813,0,0,1-1.2,1.221C118.274,16.476,119.056,16.273,119.19,16.181Z" transform="translate(0 0.018)"/>
  <path class="cls-9" d="M118.575,5.4s1.475-.213,1.8.76.127.408-.325.11S117.626,5.748,118.575,5.4Z" transform="translate(0 0.018)"/>
  <circle class="cls-11" cx="120.932" cy="14.543" r="7.457"/>
  <path class="cls-4" d="M124.589,21.865s1.32-2.432.419-4.5-3.11-1.877-3.709-.8c0,0,.1.278.612.316s1.644.26,1.865,1.19.315,1.96-.818,4.385A4.329,4.329,0,0,0,124.589,21.865Z" transform="translate(0 0.018)"/>
  <path class="cls-5" d="M124.853,13.8s1.182-3.3-1.271-4.659a10.353,10.353,0,0,1-2.184-.872c-.616-.428-1.363-1.7-3.023-1.218s-2.026,1.4-1.96,1.847,1.03,2.842.381,3.591-2.62.946-3.337,1.873,1.345,3.957,3.566,2.4,4-.244,4.728-.1,2.574.558,2.813-1.829-1.256-1.507-1.308-.879.091,1.774-1.135,1.844-2.1-1.226-3.781-.715-1.955,1.325-2.712,1.15-1.67-1.166-.984-1.591,2.93-.657,3.444-2.353-.862-3.074-.508-3.661A1.712,1.712,0,0,1,120,8.553l.059.059a7.46,7.46,0,0,0,2.958,1.5c.959.266,1.347,1.929.831,3.575S124.382,15.3,124.853,13.8Z" transform="translate(0 0.018)"/>
  <path class="cls-6" d="M126.035,14.608a2.186,2.186,0,0,0,2.726-.75c1.046-1.54-.862-5.151-2.883-4.276s-2.063.4-2.582-.082-.681-1.5-1.329-2.154a1.734,1.734,0,0,0-2.843.3,3.492,3.492,0,0,0,.091,4.578c1.2,1.459,2.119,2.5.137,3.85s-3.5,2.155-3.306,3.4.7,1.427,1.131.811-.263-1.017.34-1.665,1.644-.885,2.945-2.335.771-2.907-.4-4.191a2.426,2.426,0,0,1-.049-3.431h0l.049-.048c.771-.829,1.5-.781,2.363,1.666a2.067,2.067,0,0,0,2.538.959c1.6-.685,2.614-.42,2.9.621s-.361,2.1-2.024,2S126.035,14.608,126.035,14.608Z" transform="translate(0 0.018)"/>
  <path class="cls-7" d="M120.984,7.157a3.191,3.191,0,0,1,3.473.525c1.531,1.471.1,3.476-1.357,4.68s-3.123.864-3.582,2.032.8,2.725.914,3.848-.948,4.24-4.75,1.523-1.451-7.581-.777-8.308,1.513-1.106,1.958-1.948.942.441.632.878a9.193,9.193,0,0,1-1.666,1.69c-.731.577-1.249,2.849-.92,4.314s1.571,3.3,3.343,3.159.612-2.476.244-2.963-.666-3.856,2.139-4.534,3.309-2.623,2.844-3.733-2.558-.157-2.8.251a2.641,2.641,0,0,0,.782,3.627l-.88.583s-1.969-1.156-1.735-2.969A3.8,3.8,0,0,1,120.984,7.157Z" transform="translate(0 0.018)"/>
  <path class="cls-8" d="M121.127,17.522a3.088,3.088,0,0,0,4.35-.4q.079-.095.15-.2c2.178-2.575.888-6.059-.366-6s-2.192,1.188-3.942.538-2.071-2.761-4.506-3.106-4.287,4.023-1.612,5.822,3.625-.469,3.807-1.17-.48-.809-.914-.343-1.178,2.2-2.839.4.326-4.481,1.918-3.543,1.157,1.366,3.19,2.532a4.048,4.048,0,0,0,3.982.046,1.346,1.346,0,0,1,1.49,1.748c-.25,1.4-1.854,4.834-4.822,2.689C121.021,16.55,120.511,16.587,121.127,17.522Z" transform="translate(0 0.018)"/>
  <path class="cls-12" d="M128.98,16.092a3.936,3.936,0,0,1-1.813-1.324c-.98-1.129-2.262-2.321-4.849-1.177s-2.217,4.1-.257,5.344c0,0,.644.164-.061-.636s-1.4-2.24-.045-3.3,2.625-1.109,3.75-.137,1.653,2.118,2.978,2.408A4.1,4.1,0,0,0,128.98,16.092Z" transform="translate(0 0.018)"/>
  <path class="cls-9" d="M124.921,21.158s3.423-.874,3.288-5.169A2.274,2.274,0,0,0,125.679,14a2.16,2.16,0,0,0-.225.039c-2.5.315-3.432-.4-4.232-1.255s-2.4-1.471-3.931.33.024,7.415,3.951,6.466.18,2.378-.442,2.307-.89-.212-1.8-.987-2.875-3.181-5.139-2.968c0,0-.2.176.405.811s1.3-.274,3.5,1.882,2.96,2.935,5.443.46.091-2.669-.469-2.574-2.659.716-3.852-.611-1.349-3.537-.346-4.381,1.632-.548,2.436.418a4.864,4.864,0,0,0,4.488,1.021c1.447-.465,2.553,1.541,1.159,4.014s-4.894,1.792-5.61,1.707c-.6-.072-2.715-.35-3.66.285a.531.531,0,0,0-.124.74.56.56,0,0,0,.121.122.857.857,0,0,0,.614.221c.392-.086.077-.731,4.7-.544a5.794,5.794,0,0,0,1.617-.165C124.5,21.287,124.721,21.227,124.921,21.158Z" transform="translate(0 0.018)"/>
  <path class="cls-9" d="M121.062,6.667a3.006,3.006,0,0,1-.185,4.247c-.066.061-.135.118-.206.173-2.42,2.29-5.287-2.212-4.11-2.855s.8-.079.846.545.5,2.786,2.72,1.854c1.924-.807.951-3.185.32-3.612a.337.337,0,0,1-.112-.463.349.349,0,0,1,.057-.07C120.521,6.381,120.727,6.376,121.062,6.667Z" transform="translate(0 0.018)"/>
  <path class="cls-10" d="M117.028,14.21s.515-1.839,1.994-1.949,1.228.2.947.228a2.428,2.428,0,0,0-1.911.613,3.366,3.366,0,0,0-.8,1.287C116.964,15.057,116.976,14.344,117.028,14.21Z" transform="translate(0 0.018)"/>
  <path class="cls-9" d="M126.41,12.5s-.123-1.309-1.027-1.389-.376-.025-.026.3S126.311,13.386,126.41,12.5Z" transform="translate(0 0.018)"/>
  <path class="cls-12" d="M113.938,3.527a4.461,4.461,0,0,0,1.939,1.644c1.5.779,3.156,1.873,2.584,5.024s-3.92,3.53-5.81,1.7c0,0-.352-.665.716-.1s2.837.939,3.647-.83.522-3.185-.848-4.164-2.771-1.256-3.443-2.637A4.579,4.579,0,0,1,113.938,3.527Z" transform="translate(0 0.018)"/>
  <path class="cls-13" d="M109.443,9.343s.052-4,4.815-4.992a2.577,2.577,0,0,1,2.86,2.259,2.427,2.427,0,0,1,.017.256c.32,2.84,1.355,3.67,2.507,4.324s2.258,2.25.683,4.414-8.169,1.946-8.169-2.629-2.664.434-2.42,1.1.47.924,1.565,1.72,4.266,2.317,4.634,4.866c0,0-.141.267-1-.228s-.046-1.507-3-3.356-4.019-2.477-1.954-5.867,2.914-.811,2.957-.169-.08,3.116,1.7,4.077,4.251.54,4.913-.784.168-1.943-1.11-2.572S116,8.811,116.125,7.094s-2.375-2.4-4.726-.208-.67,5.861-.384,6.626c.238.639,1.107,2.893.659,4.1a.6.6,0,0,1-.78.334h0a.617.617,0,0,1-.165-.1.971.971,0,0,1-.407-.617c-.01-.453.783-.279-.652-5.319a6.572,6.572,0,0,1-.248-1.823A6.572,6.572,0,0,1,109.443,9.343Z" transform="translate(0 0.018)"/>
  <path class="cls-14" d="M116.292,5s.765.417.922,2.47a4.6,4.6,0,0,0,2.487,3.74,2.665,2.665,0,0,1,1.129,3.6l0,0c-.042.078-.087.155-.135.229,0,0,1.165-2.47-1.131-3.7a4.439,4.439,0,0,1-2.574-3.9A4.339,4.339,0,0,0,116.292,5Z" transform="translate(0 0.018)"/>
  <path class="cls-12" d="M124.931,6.932a2.089,2.089,0,0,0-2.5-.788s-.51.3.163.255a2.545,2.545,0,0,1,2.179.627C125.464,7.721,125.021,7.048,124.931,6.932Z" transform="translate(0 0.018)"/>
  <path class="cls-15" d="M120.221,14.261a1.582,1.582,0,0,0,.137-1.531c-.419-.7-.223-.816,0-.663a1.924,1.924,0,0,1,.6,1.591,2.715,2.715,0,0,1-1.508,2.389C118.529,16.348,119.11,15.49,120.221,14.261Z" transform="translate(0 0.018)"/>
  <path class="cls-15" d="M110.645,10.318s.835-.951,1.392-.7a1.631,1.631,0,0,1,.742,1.252c.023.232.091,1.276.137,1.53s-.278.186-.3-.278,0-2.087-.65-2.2a1.232,1.232,0,0,0-1.229.534C110.576,10.69,110.553,10.458,110.645,10.318Z" transform="translate(0 0.018)"/>
  <path class="cls-16" d="M128.969,11.787c1.2,5.33-4.168,12.332-9.891,10.7-5.252-1.494-10.433-3.644-10.433-9.106s4.7-11.018,10.162-11.018S128.112,7.977,128.969,11.787Z" transform="translate(0 0.018)"/>
  <path class="cls-17" d="M124.059,4.338s-.628-.6-1,.057.343.742.685.8c0,0-.4.4.143.571s1.342-.057,2.255.942,2.312,3.8,1.713,5.366.97,2.911.685,3.911-.657,2.483-1.37,3.054-1.513,1.427-.685,1.313a10.032,10.032,0,0,0,2.654-6.565,6.582,6.582,0,0,0-.628-3.968,28.972,28.972,0,0,0-2.169-3.283A4.175,4.175,0,0,0,124.059,4.338Z" transform="translate(0 0.018)"/>
  <path class="cls-17" d="M113.5,20.437s-.685-.6.086-.914,1.313.685,1.313,1,.628.771,1.8,1.056,1.256-.143,1.855.029,1.542.97,2.483.8,1.2.143.514.257A17.191,17.191,0,0,1,113.5,20.437Z" transform="translate(0 0.018)"/>
  <ellipse class="cls-17" cx="121.419" cy="6.082" rx="0.585" ry="0.528"/>
  <path class="cls-18" d="M116.864,10a3.767,3.767,0,0,1-3.647,3.883h-.261a4.21,4.21,0,0,1-4.179-4.137,4.046,4.046,0,0,1,8.087.255Z" transform="translate(0 0.018)"/>
  <circle class="cls-19" cx="112.956" cy="9.809" r="3.625"/>
  <circle class="cls-20" cx="112.956" cy="9.921" r="3.281"/>
  <circle class="cls-21" cx="112.956" cy="10.088" r="2.927"/>
  <path class="cls-22" d="M109.909,11.73s1.658-3.644,4.184-5.283c0,0,.444-.137.791.424s-4.146,3.51-2.892,3.953,3.721-2.892,4.512-1.542c0,0,.251.6-.791,1.465a9.43,9.43,0,0,0-2.2,2.644,5.588,5.588,0,0,1-.848.038,17.289,17.289,0,0,1,2.8-3.16c.809-.559.308-.926-.731-.077s-3.278,1.928-3.375.675,1.851-2.931,2.276-3.22.173-.464-.232-.1a11.912,11.912,0,0,0-3.2,4.59A2.067,2.067,0,0,1,109.909,11.73Z" transform="translate(0 0.018)"/>
  <path class="cls-20" d="M109.909,11.73a18.15,18.15,0,0,1,2.314-3.573c1.209-1.312,1.838-1.787,2.16-1.685a2.036,2.036,0,0,0-.257-.115c-.142-.052-1.08.514-2.25,1.877a16.782,16.782,0,0,0-2.083,3.342Z" transform="translate(0 0.018)"/>
  <path class="cls-23" d="M108.921,10.806a3.848,3.848,0,0,1,2.172-4.55,3.888,3.888,0,0,1,5.027,1.259S114,4.829,111.093,6.333A4.042,4.042,0,0,0,108.921,10.806Z" transform="translate(0 0.018)"/>
  <path class="cls-18" d="M114.2,2.876a3.767,3.767,0,0,1,5.19,1.2v0c.046.073.09.149.131.226a4.211,4.211,0,0,1-1.475,5.7A4.046,4.046,0,0,1,114.2,2.878Z" transform="translate(0 0.018)"/>
  <circle class="cls-19" cx="115.986" cy="6.375" r="3.625"/>
  <circle class="cls-20" cx="116.084" cy="6.318" r="3.281"/>
  <circle class="cls-24" cx="116.227" cy="6.234" r="2.927"/>
  <path class="cls-22" d="M119.2,8.013s-3.985.4-6.672-.959a.726.726,0,0,1-.031-.9c.308-.581,5.119,1.817,4.871.511s-4.372-1.761-3.6-3.124c0,0,.39-.517,1.664-.053a9.433,9.433,0,0,0,3.389.57,5.644,5.644,0,0,1,.461.714,17.294,17.294,0,0,1-4.14-.825c-.891-.419-.955.2.3.672s3.317,1.863,2.282,2.577-3.465-.126-3.928-.347-.487.083.033.249a11.894,11.894,0,0,0,5.577.456A2.08,2.08,0,0,1,119.2,8.013Z" transform="translate(0 0.018)"/>
  <path class="cls-20" d="M119.2,8.013a18.134,18.134,0,0,1-4.253-.2c-1.742-.384-2.47-.689-2.542-1.018a1.872,1.872,0,0,0,.029.28,5.554,5.554,0,0,0,2.754,1,16.832,16.832,0,0,0,3.936.118Z" transform="translate(0 0.018)"/>
  <path class="cls-23" d="M118.9,9.334a3.847,3.847,0,0,1-5.024.411,3.888,3.888,0,0,1-1.44-4.978s-1.255,3.185,1.507,4.939A4.044,4.044,0,0,0,118.9,9.334Z" transform="translate(0 0.018)"/>
  <path class="cls-18" d="M123.274,8.7a3.766,3.766,0,0,1-5.3.481c-.067-.056-.132-.114-.2-.175a4.208,4.208,0,0,1-.374-5.869A4.045,4.045,0,0,1,123.274,8.7Z" transform="translate(0 0.018)"/>
  <circle class="cls-19" cx="120.49" cy="5.97" r="3.625"/>
  <circle class="cls-20" cx="120.415" cy="6.054" r="3.281"/>
  <circle class="cls-25" cx="120.305" cy="6.179" r="2.927"/>
  <path class="cls-22" d="M116.921,5.382s3.661-1.623,6.638-1.17a.725.725,0,0,1,.309.842c-.112.649-5.431-.13-4.788,1.034s4.7.309,4.4,1.844c0,0-.21.613-1.565.57a9.426,9.426,0,0,0-3.4.515,5.471,5.471,0,0,1-.66-.535,17.353,17.353,0,0,1,4.19-.507c.977.12.846-.486-.5-.544S117.821,6.7,118.58,5.7s3.33-.96,3.84-.9.437-.23-.109-.225a11.9,11.9,0,0,0-5.442,1.3A2.142,2.142,0,0,1,116.921,5.382Z" transform="translate(0 0.018)"/>
  <path class="cls-20" d="M116.921,5.382a18.185,18.185,0,0,1,4.1-1.134c1.774-.178,2.561-.115,2.733.175a2.036,2.036,0,0,0-.115-.257,5.558,5.558,0,0,0-2.929-.091,16.762,16.762,0,0,0-3.777,1.115Z" transform="translate(0 0.018)"/>
  <path class="cls-23" d="M116.8,4.031a3.846,3.846,0,0,1,4.647-1.959,3.886,3.886,0,0,1,2.922,4.28s.2-3.418-2.972-4.223A4.044,4.044,0,0,0,116.8,4.031Z" transform="translate(0 0.018)"/>
  <path class="cls-26" d="M128.552,13.442a3.307,3.307,0,0,1-6.074-2.614c1.1-2.489,3.06-3.525,4.738-2.8S129.521,11.19,128.552,13.442Z" transform="translate(0 0.018)"/>
  <circle class="cls-27" cx="125.38" cy="12.465" r="2.574"/>
  <path class="cls-28" d="M123.087,9.709a6.123,6.123,0,0,1,4.978-1.08l.248.272a7.944,7.944,0,0,0-5.526,1.309Z" transform="translate(0 0.018)"/>
  <circle class="cls-29" cx="125.358" cy="12.433" r="1.856"/>
  <path class="cls-30" d="M125.405,20.337a3.307,3.307,0,0,1-2.447-6.145h0c2.536-.983,4.658-.328,5.332,1.371S127.684,19.43,125.405,20.337Z" transform="translate(0 0.018)"/>
  <circle class="cls-27" cx="123.866" cy="17.409" r="2.574"/>
  <path class="cls-31" d="M124.182,13.831a6.123,6.123,0,0,1,4.284,2.758l-.017.365a7.945,7.945,0,0,0-4.833-2.981Z" transform="translate(0 0.018)"/>
  <path class="cls-32" d="M121.367,22.242s-3.643-3.447-2.777-6.891,2.048-.043,1.3.469-.468,1.9-.046,2.74,1.209,1.914,1.788,1.976S123.512,23.114,121.367,22.242Z" transform="translate(0 0.018)"/>
  <path class="cls-33" d="M122.641,21.592s-3.57-2.189-3.456-5.151,1.666-.388,1.142.159-.055,1.633.434,2.247,1.317,1.355,1.8,1.3S124.543,21.935,122.641,21.592Z" transform="translate(0 0.018)"/>
  <path class="cls-34" d="M120.356,22.128s-2.77-2.284-1.7-4.2,1.751.141,1.062.376-.585,1.057-.308,1.576.844,1.2,1.332,1.284S122.1,22.805,120.356,22.128Z" transform="translate(0 0.018)"/>
  <path class="cls-34" d="M122.682,21.982S119.7,19,120.508,16.132s1.721.01,1.08.423-.437,1.585-.1,2.3.971,1.635,1.456,1.7S124.462,22.764,122.682,21.982Z" transform="translate(0 0.018)"/>
  <path class="cls-35" d="M113.983,12.341s.32-.545-.535-.374-.533.5-.533.5.2-.787-.323-.335a1.781,1.781,0,0,0-.509,1.252s-.261-.955-.95-.2a.867.867,0,0,0-.116,1.221h0a.726.726,0,0,0,.09.094s-.2.511-.428.525,0,.6,0,.6l-.1.529s.1.638.583.714-.857.17-.81.509.791.477.791.477-.7.2-.022.71a1.967,1.967,0,0,0,1.541.287l-.344.376s.558.544.747.413.3.442.612.554.685-.422.685-.422.7.679,1.134.7.517-.6.517-.6.239.084.627-.228.871.228,1-.715-.5-.511-.5-.511.864.173.824-.253-.794-.7-.794-.7.993.055.69-.662a1.1,1.1,0,0,0-.856-.748s.074-.292.12-.53-.645-.5-.645-.5.163.242-.143-.378a1.754,1.754,0,0,0-1.04-.812s.417-.473.158-.85-1.073-.145-1.073-.145S115.379,11.94,113.983,12.341Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.164,12.754a.283.283,0,0,1-.2.347h0a.284.284,0,0,1-.347-.2h0l-.217-.822a.283.283,0,0,1,.2-.346h0a.284.284,0,0,1,.346.2h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.843,12.94c-.042.071-.186.064-.32-.017h0c-.134-.08-.209-.2-.166-.274l.231-.387c.042-.071.186-.064.319.016h0c.138.081.21.2.167.274Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M113.015,12.854a.255.255,0,0,1,.082.34h0c-.059.145-.192.228-.3.185l-.568-.233a.255.255,0,0,1-.082-.34h0c.059-.145.192-.228.3-.185Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M111.076,15.833a.285.285,0,0,1,.122.383h0a.281.281,0,0,1-.379.123h0l-.757-.389a.282.282,0,0,1-.124-.379v0h0a.284.284,0,0,1,.381-.124h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M111.667,15.453c.025.079-.077.182-.228.228h0c-.15.046-.291.02-.316-.059l-.133-.431c-.025-.079.076-.182.228-.228h0c.15-.046.291-.02.316.059Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M111.05,16.012c.1-.05.239.025.308.165h0a.254.254,0,0,1-.061.345l-.551.267c-.1.05-.24-.024-.308-.165h0a.256.256,0,0,1,.06-.345Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M112.945,17.079a.284.284,0,0,1-.2.346h0a.284.284,0,0,1-.346-.2l-.216-.822a.283.283,0,0,1,.2-.346h0a.283.283,0,0,1,.346.2Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.621,17.264c-.043.072-.186.064-.32-.016h0c-.134-.081-.208-.2-.166-.274l.231-.387c.043-.071.186-.064.32.016h0c.135.08.209.2.167.274Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M112.8,17.179a.255.255,0,0,1,.082.34h0c-.059.144-.192.228-.3.185l-.568-.232a.255.255,0,0,1-.082-.34h0c.059-.144.192-.228.3-.185Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M112.6,14.224a.283.283,0,0,1-.2.346h0a.283.283,0,0,1-.346-.2h0l-.217-.822a.285.285,0,0,1,.2-.347h0a.284.284,0,0,1,.346.2h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.275,14.409c-.043.071-.186.064-.32-.016h0c-.134-.081-.209-.2-.166-.274l.231-.388c.042-.071.186-.064.319.017h0c.137.08.21.2.167.274Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M112.447,14.323a.255.255,0,0,1,.082.34h0c-.059.145-.192.228-.3.185l-.568-.231a.253.253,0,0,1-.082-.34h0c.059-.145.192-.228.3-.185Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.221,14.642a.285.285,0,0,1-.4.046h0a.282.282,0,0,1-.048-.4l0,0h0l.526-.668a.284.284,0,0,1,.4-.047h0a.284.284,0,0,1,.046.4h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.478,15.293c-.082.009-.163-.11-.18-.266h0c-.017-.155.036-.289.119-.3l.448-.049c.082-.009.163.11.18.266h0c.017.155-.036.289-.118.3Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M116.048,14.583c.029.109-.071.228-.222.27h0a.253.253,0,0,1-.326-.125l-.158-.594c-.029-.109.07-.228.222-.27h0a.254.254,0,0,1,.327.125Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M115.23,17.133a.285.285,0,0,1-.393.084h0a.284.284,0,0,1-.083-.392h0l.462-.714a.284.284,0,0,1,.393-.083h0a.283.283,0,0,1,.084.391h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M115.55,17.759c-.081.016-.173-.095-.2-.248h0c-.031-.154.009-.291.091-.308l.443-.092c.081-.016.172.095.2.248h0c.032.154-.009.292-.091.308Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M115.055,17.089c.039.106-.048.236-.2.29h0a.254.254,0,0,1-.337-.094l-.211-.576c-.039-.106.049-.235.2-.289h0a.253.253,0,0,1,.336.094Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M115.921,19.381a.283.283,0,0,1-.2.346h0a.283.283,0,0,1-.346-.2h0l-.217-.822a.283.283,0,0,1,.2-.346h0a.283.283,0,0,1,.346.2Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.6,19.566c-.043.071-.186.064-.32-.016h0c-.134-.081-.209-.2-.166-.274l.231-.387c.042-.071.186-.064.319.016h0c.137.08.21.2.167.274Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M115.77,19.481a.254.254,0,0,1,.082.339h0c-.059.145-.192.229-.3.186l-.568-.232a.253.253,0,0,1-.082-.34h0c.059-.145.192-.228.3-.185Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.651,19.076a.286.286,0,0,1-.4.064l0,0h0a.283.283,0,0,1-.065-.395l0-.005h0l.5-.685a.283.283,0,0,1,.395-.065l.005,0h0a.283.283,0,0,1,.065.395l0,0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.934,19.72c-.082.011-.167-.105-.189-.26h0c-.022-.155.026-.29.108-.3l.446-.064c.083-.012.168.1.189.259h0c.023.155-.026.291-.108.3Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M113.481,19.022c.033.108-.062.233-.212.278h0a.254.254,0,0,1-.331-.114l-.177-.587c-.033-.108.062-.232.212-.277h0a.253.253,0,0,1,.331.113Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M111.277,18.3a.283.283,0,0,1,.3.262h0a.284.284,0,0,1-.262.3h0l-.849.062a.283.283,0,0,1-.3-.262h0a.282.282,0,0,1,.261-.3h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M111.584,17.668c.062.054.029.194-.075.311h0c-.1.118-.238.169-.3.114l-.339-.3c-.062-.054-.028-.2.075-.312h0c.1-.117.238-.168.3-.114Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M111.348,18.467a.254.254,0,0,1,.349-.018h0a.251.251,0,0,1,.128.325l-.331.516a.254.254,0,0,1-.349.018h0a.253.253,0,0,1-.13-.325Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M117.127,16.523a.286.286,0,0,1-.4.011h0a.284.284,0,0,1-.012-.4l.585-.618a.282.282,0,0,1,.4-.013h0a.284.284,0,0,1,.011.4Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M117.328,17.2c-.083,0-.152-.124-.156-.28h0c0-.157.063-.285.146-.287l.45-.008c.083,0,.153.124.156.281h0c0,.156-.062.285-.145.286Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M116.963,16.448c.019.112-.091.223-.245.25h0c-.154.026-.3-.043-.314-.154l-.1-.605c-.019-.111.091-.222.245-.249h0c.154-.026.295.042.314.154Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M117.431,18.4a.283.283,0,0,1-.2.347h0a.284.284,0,0,1-.347-.2l-.216-.822a.284.284,0,0,1,.2-.346h0a.285.285,0,0,1,.347.2Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M118.11,18.581c-.043.071-.186.064-.32-.016h0c-.134-.081-.209-.2-.166-.274l.231-.387c.042-.072.186-.064.319.016h0c.137.08.21.2.167.274Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M117.282,18.5a.255.255,0,0,1,.082.34h0c-.06.145-.192.228-.3.185l-.567-.232a.252.252,0,0,1-.082-.339h0c.059-.145.191-.229.3-.186Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.767,15.77a.283.283,0,0,1-.369.155h0a.284.284,0,0,1-.155-.37h0l.322-.788a.285.285,0,0,1,.37-.155h0a.284.284,0,0,1,.156.369h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M114.2,16.326c-.077.031-.187-.061-.247-.206h0c-.059-.145-.045-.288.032-.319l.418-.171c.076-.031.187.061.246.206h0c.059.145.046.288-.032.32Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M113.588,15.759a.256.256,0,0,1-.137.32h0a.255.255,0,0,1-.349-.03l-.314-.527a.248.248,0,0,1,.137-.32h0a.255.255,0,0,1,.349.03Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M114.471,13.858a.283.283,0,0,1-.4-.022h0a.282.282,0,0,1,.019-.4l0,0h0l.633-.569a.284.284,0,0,1,.4.021h0a.284.284,0,0,1-.022.4h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M114.621,14.546c-.083-.006-.142-.137-.132-.293h0c.01-.156.085-.279.167-.274l.451.029c.082,0,.142.137.132.292h0c-.01.156-.085.279-.168.274Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M114.314,13.77c.01.112-.108.215-.264.228h0c-.157.014-.291-.066-.3-.178l-.053-.611c-.01-.113.108-.215.264-.229h0c.156-.013.291.067.3.179Z" transform="translate(0 0.018)"/>
  <path class="cls-35" d="M116.2,22.515s-.3.49.479.352.5-.449.5-.449-.2.711.287.311a1.616,1.616,0,0,0,.488-1.128s.218.873.86.2a.788.788,0,0,0,.13-1.107h0a.613.613,0,0,0-.081-.088s.2-.462.4-.469.014-.548.014-.548l.1-.482s-.074-.581-.515-.66.782-.137.747-.446-.71-.45-.71-.45.639-.168.034-.646a1.79,1.79,0,0,0-1.4-.291l.319-.335s-.5-.506-.671-.392-.267-.407-.545-.515-.63.371-.63.371-.622-.632-1.017-.665-.482.539-.482.539-.216-.082-.575.195-.787-.229-.925.629.443.475.443.475-.782-.175-.755.213.708.65.708.65-.9-.069-.639.588a1,1,0,0,0,.765.7s-.073.265-.121.48.577.464.577.464-.143-.223.123.347a1.6,1.6,0,0,0,.928.759s-.39.421-.161.77.972.153.972.153S114.921,22.852,116.2,22.515Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.952,22.156a.258.258,0,0,1,.191-.311h0a.259.259,0,0,1,.311.191l.18.753a.259.259,0,0,1-.191.311h0a.26.26,0,0,1-.311-.191Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.339,21.974c.041-.064.171-.055.291.021h0c.121.076.187.189.147.253l-.218.347c-.041.064-.171.055-.292-.021h0c-.12-.075-.186-.189-.145-.253Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M117.089,22.068a.227.227,0,0,1-.068-.31h0a.235.235,0,0,1,.274-.163l.511.222a.231.231,0,0,1,.068.311h0a.233.233,0,0,1-.274.162Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M118.921,19.4a.257.257,0,0,1-.1-.349h0a.257.257,0,0,1,.349-.1h0l.681.369a.257.257,0,0,1,.1.349h0a.259.259,0,0,1-.35.1h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M118.368,19.733c-.021-.072.073-.163.21-.2h0c.137-.039.265-.011.286.061l.113.394c.02.073-.074.163-.211.2h0c-.137.039-.265.012-.285-.061Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M118.941,19.237c-.092.043-.217-.027-.274-.157h0a.231.231,0,0,1,.061-.312l.507-.232c.092-.043.217.028.277.157h0a.231.231,0,0,1-.062.312Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M117.24,18.228a.259.259,0,0,1,.191-.311h0a.259.259,0,0,1,.311.191l.18.753a.259.259,0,0,1-.191.311h0a.258.258,0,0,1-.311-.191h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.627,18.046c.04-.064.17-.054.291.022h0c.121.075.186.189.146.253l-.218.347c-.04.064-.17.054-.291-.021h0c-.121-.076-.186-.189-.146-.253Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M117.378,18.141a.229.229,0,0,1-.068-.311h0a.234.234,0,0,1,.274-.162l.512.222a.233.233,0,0,1,.068.311h0a.235.235,0,0,1-.274.162Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M117.5,20.832a.259.259,0,0,1,.19-.311h0a.257.257,0,0,1,.311.189h0l.181.753a.258.258,0,0,1-.191.311h0a.258.258,0,0,1-.311-.191h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.886,20.65c.04-.064.17-.055.291.021h0c.121.076.186.189.146.253l-.218.347c-.04.064-.17.054-.291-.021h0c-.121-.076-.186-.189-.146-.253Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M117.637,20.744a.231.231,0,0,1-.068-.311h0a.234.234,0,0,1,.274-.162l.511.222a.231.231,0,0,1,.068.311h0a.234.234,0,0,1-.274.162Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M114.215,20.379a.259.259,0,0,1,.364-.037h0a.258.258,0,0,1,.037.363h0l-.5.6a.257.257,0,0,1-.363.035h0a.258.258,0,0,1-.037-.363h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.991,19.779c.075-.006.146.1.159.246h0c.012.142-.039.262-.115.269l-.408.035c-.075.006-.146-.1-.158-.245h0c-.013-.142.038-.263.113-.269Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M114.368,20.436c-.024-.1.069-.208.207-.241h0a.231.231,0,0,1,.3.12l.13.542c.025.1-.068.208-.206.241h0a.231.231,0,0,1-.3-.12Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M115.163,18.133a.258.258,0,0,1,.358-.068h0a.258.258,0,0,1,.069.358l-.435.64a.257.257,0,0,1-.357.069h0a.258.258,0,0,1-.069-.358Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M114.885,17.557c.074-.013.155.092.18.229h0c.025.14-.014.264-.088.278l-.4.073c-.074.013-.155-.092-.18-.229h0c-.026-.14.014-.265.088-.278Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M115.321,18.176c-.033-.1.049-.213.183-.259h0a.231.231,0,0,1,.3.091l.181.528c.033.1-.05.213-.183.26h0a.229.229,0,0,1-.3-.092Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M114.582,16.075a.259.259,0,0,1,.19-.311h0a.259.259,0,0,1,.311.191l.179.753a.258.258,0,0,1-.191.311h0a.259.259,0,0,1-.311-.19Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.968,15.9c.04-.064.171-.055.292.021h0c.12.076.185.189.145.253l-.218.347c-.04.064-.17.055-.29-.021h0c-.121-.076-.187-.189-.147-.253Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M114.721,15.988a.232.232,0,0,1-.069-.311h0a.235.235,0,0,1,.274-.162l.512.222a.233.233,0,0,1,.068.311h0a.234.234,0,0,1-.274.162Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.638,16.4a.258.258,0,0,1,.362-.046h0a.259.259,0,0,1,.046.362l-.472.614a.259.259,0,0,1-.362.045h0a.258.258,0,0,1-.045-.361Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.394,15.808c.075-.009.149.1.166.24h0c.017.141-.03.263-.1.274l-.406.049c-.075.009-.15-.1-.167-.24h0c-.017-.141.03-.263.1-.274Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M116.793,16.451c-.027-.1.062-.21.2-.248h0a.229.229,0,0,1,.3.11l.149.537c.028.1-.061.21-.2.249h0a.232.232,0,0,1-.3-.111Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M118.779,17.15a.259.259,0,0,1-.271-.244h0a.257.257,0,0,1,.242-.271h0l.773-.04a.258.258,0,0,1,.271.244h0a.257.257,0,0,1-.243.27h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M118.489,17.72c-.055-.052-.022-.178.075-.283h0c.1-.105.219-.148.274-.1l.3.278c.055.051.022.177-.075.282h0c-.1.105-.22.148-.274.1Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M118.721,17a.232.232,0,0,1-.319.011h0a.234.234,0,0,1-.11-.3l.312-.462a.229.229,0,0,1,.317-.01h0a.229.229,0,0,1,.11.3Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.426,18.65a.256.256,0,0,1,.363,0h0a.256.256,0,0,1,0,.363h0l-.543.551a.258.258,0,0,1-.365,0h0a.258.258,0,0,1,0-.365h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.257,18.033c.075,0,.137.116.137.258h0c0,.142-.062.258-.137.258h-.411c-.076,0-.137-.116-.137-.259h0c0-.142.062-.258.137-.257Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M113.572,18.721c-.015-.1.088-.2.229-.222h0c.141-.021.267.046.282.146l.082.552c.015.1-.087.2-.228.222h0c-.141.021-.268-.046-.283-.147Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M113.187,16.942a.258.258,0,0,1,.191-.311h0a.259.259,0,0,1,.311.19h0l.18.752a.259.259,0,0,1-.19.311h0a.257.257,0,0,1-.311-.189h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M112.574,16.76c.04-.064.17-.054.291.021h0c.121.076.186.189.146.253l-.218.347c-.04.064-.171.055-.291-.021h0c-.121-.076-.186-.189-.146-.253Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M113.321,16.855a.233.233,0,0,1-.068-.311h0a.235.235,0,0,1,.274-.163l.512.222a.229.229,0,0,1,.068.311h0a.235.235,0,0,1-.274.163Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.465,19.4a.258.258,0,0,1,.34-.133h0a.258.258,0,0,1,.135.338h0l-.307.707a.258.258,0,0,1-.338.135h0a.257.257,0,0,1-.134-.339h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M116.084,18.888c.07-.027.169.059.22.192h0c.051.133.035.263-.036.29l-.383.146c-.07.027-.168-.059-.22-.192h0c-.05-.133-.034-.263.036-.29Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M116.629,19.415c-.051-.091.008-.218.132-.289h0a.231.231,0,0,1,.316.035l.275.485a.231.231,0,0,1-.133.289h0a.231.231,0,0,1-.316-.035Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M115.787,21.127a.258.258,0,0,1,.364.025h0a.258.258,0,0,1-.025.363h0l-.587.5a.258.258,0,0,1-.363-.025h0a.256.256,0,0,1,.023-.361l0,0h0Z" transform="translate(0 0.018)"/>
  <path class="cls-36" d="M115.668,20.5c.075.007.127.127.115.269h0c-.013.142-.083.251-.159.245l-.408-.035c-.075-.006-.127-.126-.114-.268h0c.012-.142.082-.252.158-.246Z" transform="translate(0 0.018)"/>
  <path class="cls-37" d="M115.928,21.209c-.007-.1.1-.193.245-.2h0c.142-.009.263.066.27.169l.036.556c.007.1-.1.193-.245.2h0c-.143.009-.263-.067-.27-.169Z" transform="translate(0 0.018)"/>
  <path class="cls-31" d="M118.443,11.015l-.411.274a.37.37,0,0,0-.1.514h0a.35.35,0,0,0,.142.125l.011.006a.371.371,0,0,0,.5-.164l0,0a.366.366,0,0,0,.038-.187l-.028-.493a.1.1,0,0,0-.1-.088A.094.094,0,0,0,118.443,11.015Z" transform="translate(0 0.018)"/>
  <path class="cls-31" d="M118.185,12.7l-.411.274a.369.369,0,0,0-.1.513v0a.375.375,0,0,0,.141.124l.012.006a.371.371,0,0,0,.5-.163v0a.381.381,0,0,0,.039-.188l-.029-.493a.1.1,0,0,0-.1-.089A.1.1,0,0,0,118.185,12.7Z" transform="translate(0 0.018)"/>
  <path class="cls-31" d="M120.421,12.247l-.131.477a.372.372,0,0,0,.261.455h0a.353.353,0,0,0,.188,0h.013a.369.369,0,0,0,.267-.45h0a.374.374,0,0,0-.093-.167l-.344-.355a.1.1,0,0,0-.136,0A.093.093,0,0,0,120.421,12.247Z" transform="translate(0 0.018)"/>
  <path class="cls-31" d="M117.464,11.319l-.22.443a.372.372,0,0,0,.166.5h0a.388.388,0,0,0,.187.038h.012a.371.371,0,0,0,.349-.392h0a.358.358,0,0,0-.06-.182l-.269-.414a.1.1,0,0,0-.14-.021.1.1,0,0,0-.027.03Z" transform="translate(0 0.018)"/>
  <path class="cls-31" d="M119.021,10.806l-.342-.356a.372.372,0,0,0-.525-.012.376.376,0,0,0-.1.163v.012a.371.371,0,0,0,.249.462.383.383,0,0,0,.193.005l.481-.113a.093.093,0,0,0,.043-.161Z" transform="translate(0 0.018)"/>
  <path class="cls-31" d="M119.331,13.649l.488-.082a.371.371,0,0,0,.306-.426.363.363,0,0,0-.078-.174l-.008-.01a.371.371,0,0,0-.634.1l-.178.461a.1.1,0,0,0,.055.124A.1.1,0,0,0,119.331,13.649Z" transform="translate(0 0.018)"/>
  <path class="cls-31" d="M119.829,11.152l.219.443a.37.37,0,0,0,.5.168.376.376,0,0,0,.143-.125l.007-.01a.372.372,0,0,0-.1-.516.377.377,0,0,0-.18-.062l-.5-.037a.1.1,0,0,0-.091.139Z" transform="translate(0 0.018)"/>
  <path class="cls-31" d="M119.14,11.73l-.411.274a.372.372,0,0,0-.1.515.38.38,0,0,0,.142.125l.011.006a.371.371,0,0,0,.5-.166h0a.377.377,0,0,0,.039-.187l-.029-.493a.1.1,0,0,0-.1-.088A.088.088,0,0,0,119.14,11.73Z" transform="translate(0 0.018)"/>
  <path class="cls-31" d="M119.53,10.231l-.411.275a.369.369,0,0,0-.1.512v0a.372.372,0,0,0,.142.125h.011a.371.371,0,0,0,.5-.164l0,0a.365.365,0,0,0,.038-.186l-.028-.494a.1.1,0,0,0-.106-.087A.112.112,0,0,0,119.53,10.231Z" transform="translate(0 0.018)"/>
  <circle class="cls-29" cx="123.803" cy="17.486" r="1.856"/>
  <path class="cls-38" d="M32.265.46a4.423,4.423,0,0,0-2.926,2.82v.007a5.55,5.55,0,0,0,3.987-.2A4.421,4.421,0,0,0,36.252.267V.259A5.55,5.55,0,0,0,32.265.46Z" transform="translate(0 0.018)"/>
  <path class="cls-38" d="M27.074,1.579a3.568,3.568,0,0,1,2.167,2.47h0a4.5,4.5,0,0,1-3.2-.431,3.551,3.551,0,0,1-2.166-2.469h0A4.5,4.5,0,0,1,27.074,1.579Z" transform="translate(0 0.018)"/>
  <ellipse class="cls-39" cx="29.365" cy="5.919" rx="0.84" ry="3.912"/>
  <ellipse class="cls-39" cx="29.217" cy="21.63" rx="1.599" ry="0.766"/>
  <path class="cls-40" d="M35.921,3.984a5.524,5.524,0,0,0-1.693-.263,5.434,5.434,0,0,0-3.989,1.635c-.046.047-.092.083-.139.126a1.367,1.367,0,0,1-1.788,0c-.046-.038-.093-.083-.139-.126a5.434,5.434,0,0,0-3.989-1.635,5.524,5.524,0,0,0-1.693.263s-5.785,1.61-5.785,8.793,9.6,9.127,9.6,9.127l.719.149a2.96,2.96,0,0,0,.555.056,1.772,1.772,0,0,0,1.3-.532.582.582,0,0,1,.053-.046.44.44,0,0,1,.567,0,.582.582,0,0,1,.053.046,1.768,1.768,0,0,0,1.3.532,5.267,5.267,0,0,0,.615-.044l.754-.179s9.487-1.927,9.487-9.109S35.921,3.984,35.921,3.984Z" transform="translate(0 0.018)"/>
  <text class="cls-41" transform="translate(0.1 21.047)">F</text>
  <text class="cls-42" transform="translate(0.1 21.047)">F</text>
  <text class="cls-41" transform="translate(43.826 21.047)">ODC</text>
  <text class="cls-42" transform="translate(43.826 21.047)">ODC</text>
  <text class="cls-43" transform="translate(133.144 21.047)">RP</text>
  <text class="cls-44" transform="translate(133.144 21.047)">RP</text>
</svg>
