<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<title>Quang Phan</title>

  <!-- <link rel="shortcut icon" type="image/gif" href="/images/favicon.gif"/> -->
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <script type="text/javascript" src="/scripts/index.js" defer></script> -->

</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a id="foodcorp-logo" class="navbar-brand" href="#">
          <img src="/assets/FoodCorp.svg" class="img-fluid" alt="logo">
           <!-- F
           <img src="/assets/heart-apple.svg" class="img-fluid" alt="apple">
           ODC
           <img src="/assets/ramen.svg" alt="ramen">
           RP -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#how-it-work">HOW IT WORKS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#funding">FUNDING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">ABOUT</a>
            </li>
          </ul>

          <form action="/sign-in" method="GET">
            <button id="signin-btn" class="btn my-2 my-sm-0" type="submit">Sign In</button>
        </form>
        </div>
      </nav>

      <header>
        <!-- <img src="/assets/welcome-background.jpg"  alt="welcome background"> -->
        <div class="row top">
          <div class="col-6 panel">
            <div class="background-wrap partner"></div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, quo!</p>
          </div>
          <div class="col-6 panel">
              <div class="background-wrap coporator"></div>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, quo!</p>
          </div>
        </div>
        <div class="row panel bottom">
            <div class="background-wrap volunteer"></div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, quo!</p>
        </div>
      </header>

      <main>
          <section></section>
      </main>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ut repellat sapiente delectus eos itaque pariatur, nisi tenetur iusto accusamus labore molestias, expedita quaerat incidunt. Soluta sapiente doloremque sed, iste doloribus placeat quos deleniti temporibus fugit ipsum nisi, magnam, fuga in possimus. Molestias magnam quidem optio sed aliquid dolorum ex ut dicta illum rerum provident nulla culpa impedit quibusdam, fugit praesentium corporis facere explicabo nobis perferendis consequuntur nihil! Sunt excepturi facere ad? Libero qui natus non cum iure nostrum cupiditate incidunt neque cumque, earum voluptatibus sequi in, tempora voluptatem vitae saepe eveniet nulla magnam ducimus! Harum fuga necessitatibus illo assumenda.</p>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>