@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Titan+One');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: 'Titan One', cursive;
  color: #00687D;
  font-size: 30px;
}

#foodcorp-logo>img {
  position: relative;
  top: 5px;
  height: 50px;
}

.nav-link, .btn {
  font-family: 'Titan One', cursive;
  font-size: 18px;
  color: #00687D !important;
}

#signin-btn{
  padding-right: 12px;
  border-color: #DED24D;
  border-radius: 10px 5%;
  background: none;
}
#signin-btn:hover {
  background-color:#DED24D;
  
}

header {
  position: relative;
  background-image: url("/assets/welcome-background.jpg");
  background-position-x: 38%;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header>div.row {
  width: 100%;
  margin: 0;
} 
.row.top {
  height: 75%;
}
.row.bottom {
  height: 25%;
}

header>div.row>.col-6 {
  padding: 0;
}

.panel {
  position: relative;
}
.panel>p {
  position: relative;
  margin-top: 100px;
  z-index: 1;
}
.background-wrap {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
}
.background-wrap.partner {
  background-color: #DED24D;
}
.background-wrap.coporator {
  background-color: #01AFD1;
}
.background-wrap.volunteer {
  background-color:#87C580;
}