      .cls-1 {
        fill: #cf9f66;
      }

      .cls-2 {
        fill: #89643d;
      }

      .cls-3 {
        fill: #c45c00;
      }

      .cls-4 {
        fill: #c98019;
      }

      .cls-5 {
        fill: #eb9800;
      }

      .cls-6 {
        fill: #d68b00;
      }

      .cls-7 {
        fill: #ebba1d;
      }

      .cls-8 {
        fill: #ffca1f;
      }

      .cls-9 {
        fill: #ffd85e;
      }

      .cls-10 {
        fill: #ffe38a;
      }

      .cls-11 {
        fill: #d96600;
      }

      .cls-12 {
        fill: #ffd03b;
      }

      .cls-13 {
        fill: #ffe38c;
      }

      .cls-14 {
        fill: #fff4d1;
      }

      .cls-15 {
        fill: #fff0c2;
      }

      .cls-16, .cls-29 {
        fill: #fff276;
      }

      .cls-16 {
        opacity: 0.51;
      }

      .cls-16, .cls-22, .cls-29, .cls-41, .cls-42, .cls-43, .cls-44 {
        isolation: isolate;
      }

      .cls-17 {
        fill: #fff2ff;
      }

      .cls-18 {
        fill: #965030;
      }

      .cls-19 {
        fill: #ffb95c;
      }

      .cls-20 {
        fill: #ffe9cc;
      }

      .cls-21 {
        fill: url(#linear-gradient);
      }

      .cls-22 {
        fill: #ff9100;
        opacity: 0.47;
      }

      .cls-23 {
        fill: #70270f;
      }

      .cls-24 {
        fill: url(#linear-gradient-2);
      }

      .cls-25 {
        fill: url(#linear-gradient-3);
      }

      .cls-26 {
        fill: #fff0db;
      }

      .cls-27 {
        fill: #ffbc00;
      }

      .cls-28 {
        fill: #fff8f0;
      }

      .cls-29 {
        opacity: 0.24;
      }

      .cls-30 {
        fill: #fff8ed;
      }

      .cls-31 {
        fill: #fff;
      }

      .cls-32 {
        fill: #351207;
      }

      .cls-33 {
        fill: #4a190a;
      }

      .cls-34 {
        fill: #6b240e;
      }

      .cls-35 {
        fill: #009c08;
      }

      .cls-36 {
        fill: #00c40a;
      }

      .cls-37 {
        fill: #1cff28;
      }

      .cls-38 {
        fill: #696;
      }

      .cls-39 {
        fill: #7f4834;
      }

      .cls-40 {
        fill: #f16365;
      }

      .cls-41, .cls-42, .cls-43, .cls-44 {
        font-size: 22px;
        font-family: Monoton-Regular, Monoton;
      }

      .cls-41, .cls-43 {
        fill: #0188d8;
      }

      .cls-41, .cls-42 {
        letter-spacing: 0.05em;
      }

      .cls-42, .cls-44 {
        fill: none;
        stroke: #0188d8;
        stroke-miterlimit: 10;
        stroke-width: 0.2px;
      }

      .cls-43, .cls-44 {
        letter-spacing: 0.049em;
      }